.page-cover {
  display: block;
  z-index: 629;
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url(./../images/SHvsMK_homepage_bg.jpg);
  background-size: cover;
}

.page-title {
  text-align: center;
  margin-top: 70px;
}

.page-title-name {
  font-style: italic;
  font-family: sans-serif;
  color: white;
}

.page-title-sentence {
  font-size: 1.4em;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #CCCCCC;
}

.SHvsMK_img {
  height: 80px;
  width: 80px;
}

.page-title-divider {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.how-icon-hide-list {
  line-height: 20px;
  opacity: 1;
  padding: 5px;
}

.how-icon-hide-list.ng-hide-add, .how-icon-hide-list.ng-hide-remove {
  transition: all linear 0.2s;
}

.how-icon-hide-list.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 5px;
}

.how-icon-list {
  margin-top: 10px;
  list-style-type: none;
}

.how-icon {
  font-size: 15px;
  color: #CCCCCC;
  text-decoration: none !important;
}

.how-icon:hover {
  color: white !important;
}

.SHvsMK_icon_img {
  margin-left: -48px;
  height: 15px;
  opacity: 0.7;
}

.self-intro {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-family: monospace;
}

.page-intro-divider {
  width: 40%;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.guide-sentence {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-family: monospace;
}

.who-what-how {
  margin-top: 30px;
}

.who-btn, .what-btn, .how-btn {
  color: #CCCCCC;
  display: block;
  padding: 50px 20px;
  border: 1px solid #CCCCCC;
  border-radius: 50%;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  text-decoration: none !important;
  text-align: center;
}

.who-btn:hover, .what-btn:hover, .how-btn:hover {
  color: white !important;
  border-color: white !important;
}
