<!DOCTYPE html>
<html>
  <head>
    <%- include header %>
    <link rel="stylesheet" href="stylesheets/Blog_bg.css">
    <link rel="stylesheet" href="stylesheets/Blog_bubble.css">
    <link rel="stylesheet" href="stylesheets/Blog_chatting_room_door.css">
  </head>
  <body>
      <div class="bubbles bg-settings">
        <div class="chatting_room_door col-lg-1 col-lg-offset-11">
        </div>
        <figure class="ball bubble_ball Code" style="margin-left: 250px; margin-top: 200px">
          <span class="iris">
            <p>
              Code
            </p>
          </span>
        </figure>
        <figure class="ball bubble_ball Food" style="margin-left: 20px">
          <span class="iris">
            <p>
              Travel
            </p>
          </span>
        </figure>
        <figure class="ball bubble_ball Travel" style="margin-left: 20px">
          <span class="iris">
            <p>
              Food
            </p>
          </span>
        </figure>
        <figure class="ball bubble_ball Photo" style="margin-left: 20px">
          <span class="iris">
            <p>
              Photo
            </p>
          </span>
        </figure>
      </div>
  </body>
  <%- include footer %>
  <script src="javascripts/Blog_bg.js"></script>
  <script src="javascripts/Blog.js"></script>
</html>
