<!DOCTYPE html>
<html>
  <head>
    <%- include header %>
    <link rel="stylesheet" href="stylesheets/SHvsMK.css">
  </head>
  <body>
    <div class="page-cover">
      <div class="page-content col-lg-8 col-lg-offset-2">
        <div class="page-title">
          <img class="SHvsMK_img" src="images/SHvsMK.png">
          <h1 class="page-title-name">SHvsMK</h1>
          <span class="page-title-sentence">WE ARE WHO WE ARE</span>
          <hr class="page-title-divider">
        </div>
        <div class="page-intro">
          <div class="col-lg-4 col-lg-offset-4">
            <p class="self-intro">
                <span>Hi, I'm Yicheng(SHvsMK)</span>
                <br>
                <span>a dreamer</span>
                <br>
                <span>who dreams about the past</span>
            </p>
            <hr class="page-intro-divider">
          </div>
        </div>
        <div class="page-guide">
          <div class="col-lg-6 col-lg-offset-3">
            <p class="guide-sentence">
              This is a world consisted with
            </p>
          </div>
          <div class="who-what-how col-lg-12">
            <div class="who col-lg-2 col-lg-offset-3">
              <a href="#" class="who-btn">Who</a>
            </div>
            <div class="what col-lg-2">
              <a href="#" class="what-btn">What</a>
            </div>
            <div class="how col-lg-2">
              <a href="#" class="how-btn">How</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include footer %>
</html>
